@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';
@import 'global';
@import 'vars';
@import 'components';




.banner{
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: #fff;
    padding-bottom: 100px;
    &__content{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
    }
    &__title{
        font-size: 46px;
        line-height: 54px;
        font-weight: 300;
        padding-bottom: 12px;
        margin-bottom: 20px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-color: #fff;
            margin: 0 auto;
            height: 1px;
            width: 120px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__text{
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            margin-left: 10px;
            background-image: url('../images/header-arrow.svg');
            width: 10px;
            height: 6px;
            bottom: 6px;
        }
    }
}

.category{
    &__slider-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        z-index: 5;
        cursor: pointer;
    }
    &__slider-prev{
        left: 20px;
    }
    &__slider-next{
        right: 20px;
    }
    &__slider-btn.slick-disabled{
        display: none!important;
    }
    &__slider-wrapper{
        position: relative;
        height: 450px;
    }
    &__slider-title{
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        padding: 8px  0 6px;
        backdrop-filter: blur(6px);
        background: rgba(224, 190, 162, 0.75);
        color: #fff;
        font-weight: 300;
    }
}
.slick-slide{
    margin-right: 15px;
}

.subscribe{
    &__inner{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    }
    &__form-input{
        width: 600px;
        border: .5px solid $default;
        padding: 16px 16px 12px;
        margin-bottom: 20px;
        &::placeholder{
            color: rgba(37, 37, 37, 0.5);
            text-align: center;
            @extend %font-extralight;
        }
        &:focus{
            outline: none;
            border: .5px solid $accent;
        }
    }
    &__form-btn{
        width: 600px;
        background-color: $accent;
        color: #fff;
        padding: 16px;
        text-align: center;
        margin-bottom: 20px;
        @extend %btn-click;
    }
    &__text{
        @extend %font-extralight;
    }
}

.catalog{
    &__inner{
        display: flex;
        gap: 0 30px;
    }
}

.aside-filter{
    max-width: 150px;
    &__title{
        font-size: 20px;
        font-weight: 300;
        line-height: 23px;
        margin-bottom: 25px;
    }
    &__item{
        margin-bottom: 20px;
    }
    &__link{
        text-align: left;
    }
}

.content-sort{
    &__list{
        display: flex;
        gap: 0 30px;
        margin-bottom: 30px;
    }
    &__item{
        position: relative;
        min-width: 85px;
    }
    &__btn{
        position: relative;
        min-width: 85px;
        padding: 5px 20px 5px 5px;
        height: 30px;
        &::after{
            content: '';
            position: absolute;
            right: 5px;
            top: 12px;
            width: 10px;
            height: 6px;
            background-repeat: no-repeat;
            background-image: url('../images/arrow-down.svg');
            transition: all .3s;
        }
    }
    &__drop-item{
        display: block;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        border-bottom: 1px solid #e0bea2;
        cursor: pointer;
        &:last-child{
            border-bottom: none;
        }
    }
   
}
.dropdown.open{
    .content-sort__btn{
        border-top: 0.3px solid $default;
        border-left: 0.3px solid $default;
        border-right: 0.3px solid $default;
        border-radius: 5px 5px 0 0;
    }
    .content-sort__drop{
        border-bottom: 0.3px solid $default;
        border-left: 0.3px solid $default;
        border-right: 0.3px solid $default;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
    }
}

